<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PenmanApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <rewrite>
        <rules>
          <rule name="SPA Routes" stopProcessing="true">
            <!-- use the wild card to match everything -->
            <match url=".*" />
            <!-- each of these conditions must be false in order for the rule to apply -->
            <conditions logicalGrouping="MatchAll">
              <!-- allow resource requests such as images and css files to pass through -->
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <!-- fallback on other handling rules for directories -->
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <!-- allow /api/[controller]/[action] requests to be handled by the api -->
              <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
              <!-- allow /hubs/[hub] web sockets to be handled by the api -->
              <add input="{REQUEST_URI}" pattern="^/(hubs)" negate="true" />
            </conditions>
            <!-- rewrite all other request paths to /index.html for the SPA to process -->
            <action type="Rewrite" url="/index.html" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>